files:
  "/etc/logrotate.d/application-logs":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-*/*.log {
        daily
        size 10M
        missingok
        rotate 10
        compress
        delaycompress
        notifempty
        copytruncate
      }
      
      /var/log/nodejs/*.log {
        daily
        size 10M
        missingok
        rotate 10
        compress
        delaycompress
        notifempty
        copytruncate
      }

commands:
  01_run_logrotate:
    command: "/usr/sbin/logrotate /etc/logrotate.conf"